<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Soraya's Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script> 
</head>
<body>
	<main id="app">		
		<section class="form-container">
			<label for="nickname">Name:</label>
			<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
			
			<form>
				<label for="message">Message:</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea" placeholder="Enter your message here..."></textarea>
				<input type="submit" @click.prevent="dispatchMessage">
			</form>

			<a href="#" class="modeChange"><i onclick="addLightMode()"><p>Day Mode</p></i></a>
			<a href="#" class="modeChange"><i onclick="removeLightMode()"><p>Night Mode</p></i></a>
		</section>
		
		<section class="messages">
			<ul id="messages" v-for="message in messages">
                <newmessage class="animated bounceIn" :msg="message"></newmessage>
				
			</ul>
		</section>		
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
	<script src="js/modules/lightmode.js"></script>
</body>
</html>